@font-face {
  font-family: 'archiaregular';
  src: url('archia-regular-webfont.eot');
  src: url('archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('archia-regular-webfont.woff2') format('woff2'),
       url('archia-regular-webfont.woff') format('woff'),
       url('archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'archiaregular', sans-serif;
}


  body {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  }

  article {
    text-align: left;
  }

  article h2 {
    color: #2F4858;
  }
  
 .hover-trigger{
    display: flex;
    justify-content: center;
  }

  article li {
    list-style: none;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  ul{
    margin-left: 10px;
    padding-left: 10px;
    border-left:2px solid #2F4858;
  }

  #home{ 
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    width: fit-content;
    background: #ffffff;
    box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
  }

  #home:hover{
    scale: 1.1;
  }
  
.header-container {
  background-color: #2F4858;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding-left: 50px;
  height: 30vh;
}

.box-personal-infos{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  padding-left: 20px;
  gap: 10px;
}

.box-name {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.box-name .artist-name{
  font-size: 70px;
  color: white;
  font-weight:  bold;
}

.box-name .title-artist{
  font-size: 20px;
  color: white;
  font-weight:  bold;
}

.cercle-grey{
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #ffffff;
  margin: 0px 10px;
}
.box-crea-album-date{
  display: flex;
  font-size: 18px;
  color: whitesmoke;
}


.box-member, .box-location, .box-date, .box-relation{
  height: 35vh;
  border-radius: 10px;
  background-color: white;
  overflow: scroll;
  width: 100%;
  padding: 15px;
  box-shadow: 35px 35px 100px 10px rgba(0, 0, 0, 0.25);

}

.box-container{
  padding-top: 20px;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20em;
  place-items: center;
  width: 50%;
  gap: 20px;
}

.all-infos-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#map{
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .box-personal-infos {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Add more responsive adjustments as needed */
}