<!-- artist_details.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Details</title>
    <link rel="stylesheet" href="/Static/styleArtistDetails.css">
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>    
</head>
<body>
        {{with .Artists}}
        <div class="header-container">
            <img class="hover-trigger" style="width: 150px; height: 150px; border-radius: 5px;" src="{{.Image}}" alt="">
            <article class="box-personal-infos">
                <div class="box-name">
                    <p class="title-artist">Artist</p>
                    <p class="artist-name">{{.Name}}</p>
                </div>
                <div class="box-crea-album-date">
                    <p> Creation Date:{{.CreationDate}}</p>
                    <div class="cercle-grey"></div>
                    <p> First Album:{{.FirstAlbum}}</p>
                </div>
                <a id="home" href="/">Home</a>
            </article>
        </div>
        <div class="all-infos-container">

            <div class="box-container">
                    <article class="box-member">
                        <h2>Members</h2>
                        <ul>
                            {{range .Members}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </article>
                    {{end}}
        
                    {{with .Location}}
                    <article class="box-location">
                        <h2>Locations</h2>
                        <p>
                            <ul>
                                {{range .Locations}}
                                    <li class="Location">{{.}}</li> 
                                {{end}}
                            </ul> 
                        </p>
                        <!-- Ajoutez d'autres champs selon vos besoins -->
                    </article>
                    {{end}}
        
        
                    {{with .ConcertDates}}
                            <article class="box-date">
                                <h2>Dates</h2>
                                <p>
                                    <ul>
                                        {{range .Dates}}
                                            <li>{{.}}</li> 
                                        {{end}}
                                    </ul> 
                                </p>
                                <!-- Ajoutez d'autres champs selon vos besoins -->
                            </article>
                    {{end}}
        
                    {{with .Relations}}
                        <article class="box-relation">
                            <h2>Relations</h2>
                            <p>
                                <ul>
                                    {{range $Location, $Dates := .DatesLocations}}
                                    {{ range $Date := $Dates }}
                                            <li>{{ $Location }}-- {{ $Date }} </li>
                                        {{ end }}    
                                    {{end}}
                                </ul> 
                            </p>
                            <!-- Ajoutez d'autres champs selon vos besoins -->
                        </article>
                    {{end}}
            </div>
            <div style="width: 640px; height: 480px" id="map"></div>
        </div>
<!-- Ajoutez d'autres champs selon vos besoins -->
<script src="/Static/script2.js"></script>
</body>
</html>